@model IEnumerable<Hotel.Models.Reservation>
@{
	ViewData["Title"] = "Reservations";
}
@section TitleSection {
				 <a class="navbar-brand">Резервации</a>
}
<div class="text-left">
		 <a asp-action="Create" asp-controller="Reservation">
			 <button type="submit" class="btn btn-info btn-fill btn-wd" style="margin-bottom: 15px;"> 
				 <i class="ti-plus"></i>
				 Създай нова резервация</button>

		 </a>
</div>
<div class="card">
		<div class="header">
			 <h4 class="title">Резервации</h4>
			 <p class="category">Информация за всички резервации</p>
		</div>
		<div class="content table-responsive table-full-width">
		<table class="table table-striped">
		<thead>
		<tr>

			<th scope="col" style="text-align: center">
				 @Html.DisplayNameFor(model => model.Client.Personal_id)
			</th>
			<th scope="col" style="text-align: center">
						@Html.DisplayNameFor(model => model.Room.RoomNumber)
			</th>

			<th scope="col" style="text-align: center">
						@Html.DisplayNameFor(model => model.ReservationStatus)
			</th>
			<th scope="col" style="text-align: center">
						@Html.DisplayNameFor(model => model.TotalPrice) в лв
			</th>
			<th scope="col" style="text-align: center;">
				Действия
			</th>
		</tr>
	</thead>
	<tbody>
				@foreach (var item in Model)
				{
			<tr>

					<td style="text-align: center">
							@Html.DisplayFor(modelItem => item.Client.Personal_id)
				</td>
					<td style="text-align: center">
							@Html.DisplayFor(modelItem => item.Room.RoomNumber)
				</td>

					<td style="text-align: center">
							@Html.DisplayFor(modelItem => item.ReservationStatus.Title)
				</td>
					<td style="text-align: center">
							@Html.DisplayFor(modelItem => item.TotalPrice)
				</td>
					<td style="display: flex; justify-content: center;">
						   <a asp-action="Details" asp-controller="Reservation" asp-route-id="@item.Id" style="margin-right: 5px;">
									<button type="submit" class="btn btn-info  btn-fill btn-wd"> 
									<i class="ti-menu" style="margin-right:8px"></i>Детайли
									</button>
								</a>
						 <a asp-action="Edit" asp-controller="Reservation" asp-route-id="@item.Id" style="margin-right: 5px;">
											<button type="submit" class="btn btn-success   btn-fill btn-wd"> 
										<i class="ti-pencil" style="margin-right:8px"></i>Редактиране
										</button>
									</a>
						<a asp-action="Delete" asp-controller="Reservation" asp-route-id="@item.Id" style="margin-right: 5px;">
												<button onclick="confirmDelete(@item.Id, '/Reservation/Delete/')" type="submit" class="btn btn-danger  btn-fill btn-wd"> 
										<i class="ti-trash" style="margin-right:8px"></i>Изтрий
										</button>
						</a>
				</td>
			</tr>
				}
	</tbody>
</table>
</div>
</div>